.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-size: 2em;
  padding: 50px auto;
  background-color:#282c34;
  color:#eee;
}

.inputId{
  min-height:2rem;
  font-size: 1em;
}

button{
  padding: 5px;
  vertical-align: middle;
  font-weight: normal;
  text-transform: uppercase;
}

.myCardContainer{
  display: inline-flex;
  flex-direction: row;
  width: 15rem;
}

.myCard{
  padding:1.33em;
}